Repository deruelle/merkle-trees: changes, and which lefthook commands are due for each by the changed paths.
All: rust-format, rust-lint, markdown-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rust-format:
      glob: "*.rs"
      run: cargo fmt --all --
      stage_fixed: true
    rust-lint:
      glob: "*.rs"
      run: cargo clippy --fix --allow-dirty --allow-staged -- -D warnings
      stage_fixed: true
    markdown-lint:
      glob: "*.md"
      run: npx --yes markdownlint-cli {staged_files}
      stage_fixed: true

Improvement: separated hasher and merkle crates. Implemented a Generic Node concept with a Leaf and Internal Nodes implementations
  Cargo.lock
  Cargo.toml
  src/hasher/mod.rs
  src/hasher/sha256.rs
  src/hasher/simple.rs
  src/lib.rs
  src/merkle/hash.rs
  src/merkle/internal_node.rs
  src/merkle/leaf_node.rs
  src/merkle/merkel_tree.rs
  src/merkle/mod.rs
  src/merkle/node.rs
  src/merkle/proof.rs
  src/merkle/tree.rs
Due: rust-format, rust-lint

Improvement: improving code coverage
  src/lib.rs
Due: rust-format, rust-lint

Improvement: Adding trait cxommon methods for Merkle Tree
  src/merkle/dummy_tree.rs
  src/merkle/tree.rs
Due: rust-format, rust-lint

Improvement: Refactoring to allow passing a specific Hasher implementation
  src/hasher/mod.rs
  src/hasher/sha256.rs
  src/hasher/simple.rs
  src/lib.rs
  src/merkle/internal_node.rs
  src/merkle/leaf_node.rs
  src/merkle/mod.rs
  src/merkle/node.rs
  src/merkle/simple_tree.rs
  src/merkle/tree.rs
Due: rust-format, rust-lint

Improvement: removing Default and improvements to SimpleMerkleTree
  README.md
  src/hasher/sha256.rs
  src/hasher/simple.rs
  src/merkle/simple_tree.rs
Due: rust-format, rust-lint, markdown-lint

Improvement: testing default
  src/hasher/sha256.rs
  src/hasher/simple.rs
Due: rust-format, rust-lint

Improvement: updating the simple tree impl to avoid doing deep copies and use Arc reference pointers instead
  src/lib.rs
  src/merkle/internal_node.rs
  src/merkle/node.rs
  src/merkle/simple_tree.rs
Due: rust-format, rust-lint

Improvement: Performance improvements by reducing usage of Strings, cloning, reducing hash sizes
  CLAUDE.md
  src/hasher/mod.rs
  src/hasher/sha256.rs
  src/hasher/simple.rs
  src/lib.rs
  src/merkle/hash.rs
  src/merkle/internal_node.rs
  src/merkle/leaf_node.rs
  src/merkle/node.rs
  src/merkle/simple_tree.rs
Due: rust-format, rust-lint, markdown-lint

Improvement: Code coverage improvements
  .github/workflows/rust.yml
  codecov.yml
  src/hasher/sha256.rs
  src/hasher/simple.rs
Due: rust-format, rust-lint

Improvement: Code coverage improvements
  .github/workflows/rust.yml
  codecov.yml
  filter-lcov.sh
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Upgrade Claude workflows to Opus 4.5 model
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Add Claude Code configuration with custom agents and commands
  .claude/agents/blockchain-developer.md
  .claude/agents/rust-pro.md
  .claude/commands/audit.md
  .claude/commands/write_tests.md
  .claude/settings.json
Due: markdown-lint

Address PR review feedback
  .claude/agents/blockchain-developer.md
  .claude/agents/rust-pro.md
  .claude/commands/audit.md
  .claude/commands/write_tests.md
Due: markdown-lint

Add Solana as major ecosystem in blockchain Merkle tree agent
  .claude/agents/blockchain-developer.md
Due: markdown-lint

Add .claude/settings.local.json to .gitignore
  .gitignore
Due: none

Improve audit and write_tests commands with better guidance
  .claude/commands/audit.md
  .claude/commands/write_tests.md
Due: markdown-lint

Broaden .gitignore pattern for Claude local settings
  .gitignore
Due: none

Document Claude Code agents and commands in CLAUDE.md
  .claude/commands/write_tests.md
  CLAUDE.md
Due: markdown-lint

Add Tree trait with proof/verify methods and refactor SimpleMerkleTree
  README.md
  src/lib.rs
  src/merkle/mod.rs
  src/merkle/proof.rs
  src/merkle/simple_tree.rs
  src/merkle/tree.rs
Due: rust-format, rust-lint, markdown-lint

Improve pre-commit hook with sequential lint check
  lefthook.yml
Due: none

Move new() to inherent impl and fix clippy warnings
  src/merkle/simple_tree.rs
  src/merkle/tree.rs
Due: rust-format, rust-lint

Consolidate Tree trait into MerkleTree trait
  src/lib.rs
  src/merkle/mod.rs
  src/merkle/simple_tree.rs
  src/merkle/tree.rs
Due: rust-format, rust-lint

Add Merkle proof generation and verification
  src/lib.rs
  src/merkle/mod.rs
  src/merkle/proof.rs
  src/merkle/simple_tree.rs
Due: rust-format, rust-lint

Add Merkle proof generation and verification
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  AGENTS.md
  CLAUDE.md
  README.md
  openspec/AGENTS.md
  openspec/changes/archive/2026-01-08-add-merkle-proof/proposal.md
  openspec/changes/archive/2026-01-08-add-merkle-proof/specs/merkle-proof/spec.md
  openspec/changes/archive/2026-01-08-add-merkle-proof/tasks.md
  openspec/project.md
  openspec/specs/merkle-proof/spec.md
  src/lib.rs
  src/merkle/mod.rs
  src/merkle/proof.rs
  src/merkle/simple_tree.rs
Due: rust-format, rust-lint, markdown-lint

Improve README structure and add OpenSpec documentation
  README.md
Due: markdown-lint

Add tests for MerkleTreeError Display implementation
  src/merkle/mod.rs
Due: rust-format, rust-lint

Fix invalid codecov.yml configuration
  codecov.yml
Due: none
